*{
    margin: 0;
    padding: 0;
}

.card-size{
    width: 100%;
    height: 30vh;
}
.img{
    height: 70vh ;
}
.imgop{
    opacity: 0.8;
}



/* about css  */




.linestyle{
    cursor: pointer;
}

.abouthead{
    background: linear-gradient(rgba(9, 30, 62, .85),rgba(9, 30, 62, .85)), url(/img/pix3.jpg) center no-repeat;
    background-size: cover;
}


.bgabout{
    background-color: rgba(18 173 230 / 6%) !important;
}

/* 
@media screen and (mix-width: 780px) {
    body {
      background-color: lightgreen !important;
    }
  } */



