*{
    margin: 0;
    padding: 0;
}

.card-size{
    width: 100%;
    height: 30vh;
}
.img{
    /* opacity: 0.8; */
    height: 70vh ;
}
.imgop{
    opacity: 0.8;
}



/* 
@media screen and (mix-width: 780px) {
    body {
      background-color: lightgreen !important;
    }
  } */



